body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #ccc;
}

/* Стили для основного контента */
.hero {
    background-image: url('glavnoe.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

/* Стили для блока "О нас" */
.about {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.about h2 {
    color: #333;
    margin-bottom: 20px;
}

.about p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}